.App {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.white-text {
  color: white;
}

.green-navbar {
  background: #6a9566 !important;
  color: white;
}

.today-image {
  max-height: 500px;
}

.card-img-top {
  max-height: 200px;
}

.cover-img {
  max-height: 450px;
}

#ticket {
  background: #6a9566;
  color: white;
}

#ticket ul li {
  background: #6a9566;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.carousel .slide .legend {
  background: rgba(255,255,255, .9) !important;
  width: 300px !important;
  color: black !important;
  opacity: 1 !important;
  left: 45% !important;
  bottom: 0 !important;
  border-radius: 0 !important;

}
