.App {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #2e3638;
  font-size: 0.8em;
  text-align: center;
  background: linear-gradient(360deg, #efefef, #dfe1e2);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.37);
}

.footer ul {
  list-style: none;
  margin-bottom: 0;
}

.footer ul li {
  padding: 3px 0;
}

.footer .footer-left {
  width: 49%;
  text-align: left;
  display: inline-block;
}

.footer .footer-right {
  width: 49%;
  text-align: right;
  display: inline-block;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.white-text {
  color: white;
}

.green-navbar {
  background: #6a9566 !important;
  color: white;
}

.today-image {
  max-height: 500px;
}

.card-img-top {
  max-height: 200px;
}

.cover-img {
  max-height: 450px;
}

#ticket {
  background: transparent;
  color: white;
  border-radius: 10px;
  border: 1px solid #2e3638;
  overflow: hidden;
}

#ticket .dashed-border {
  background: #2e3638;
  line-height: 15px;
  margin: -10px;
}

#ticket .qr-container {
  padding-left: 14px;
}


#ticket ul li {
  background: transparent;
  /*font-weight: bold;*/
  font-size: 11px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.carousel .slide .legend {
  background: rgba(255,255,255, .9) !important;
  width: 300px !important;
  color: black !important;
  opacity: 1 !important;
  left: 45% !important;
  bottom: 0 !important;
  border-radius: 0 !important;

}
